# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
local.env
producation.env
staging.env

# Django
# db.sqlite3
*.log
logs/*.log
staticfiles/
media/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Cache
.pytest_cache/
.coverage
htmlcov/

.env*